<!-- Header title in body -->
<h1>TinyApp</h1>

<% if (user) { %>
  <form method="POST" action="/logout">
    <h5>Logged In As: <%= user.email %></h5>
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
<% } else { %>
      <a href="/login">Login</a>
      <label>|</label>
      <a href="/register">Register</a>
<% } %>