<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URLS - TinyApp Example</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <%- include partials/_header.ejs %>
      <h3>My URLs</h3>
      <ul>
        <% for (let url in urls) { %>
          <li><%= url %>: <%= urls[url] %></li>
          <form method="POST" action="/urls/<%= url %>/delete"><button type="submit">Delete</button></form>
        <% }; %>
      </ul>

</body>
</html>